body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: center;
    gap: 1000px;
    padding: 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.first {
    display: flex;
    background: #1F2937;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
    padding: 60px;
    padding-bottom: 120px;
}

.description {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 600px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 600px;
}

.main-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main-image {
    width: auto;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 100%;
    display: block;
}

.second {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding-top: 50px;
    padding-bottom: 80px;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.card {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    border: 2px solid #3b3c3f;
    margin-bottom: 10px;
    overflow: hidden;
}

.captions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-bottom: 40px;
}

.caption {
    width: 150px;
    text-align: center;
}

.first-button {
    background: #6d7586;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
    height: 50px;
}

.small-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third {
    background: #E5E7EB;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 80px;
    align-items: center;
}

.third .cards {
    gap: 135px;
}

.third .captions {
    gap: 60px;
}

.third .captions .caption {
    width: 200px;
}

.credit {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 18px;
    font-weight: 600;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
}

.fourth {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 80px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 80px;
    align-items: center;
}

.exclamation {
    font-size: 20px;
    font-weight: 600;
    color: #e5e7eb;
}

.message {
    max-width: 500px;
    font-size: 20px;
}

.second-button {
    background: #6eb8d1;
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    border-color: #e5e7eb;
}

.footer {
    background: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}