body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.header h2 {
    font-size: 24px;
    color: #e5e7eb;
    margin-left: 15px;
    margin-top: 12px;
}

.links h2 {
    font-size: 24px;
    color: #e5e7eb;
    margin-right: 15px;
    margin-top: 12px;
}

.links {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
}

.icon-image {
    width: 40px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.first {
    display: flex;
    background: #1F2937;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 130px;
    flex-wrap: wrap;
}

.description {
    display:flex;
    flex-direction: column;
    
}

.main-text {
    font-size: 40px;
    font-weight: 900;
    color: #f0f3f6;
    width: 600px;
    text-align: start;
}

.secondary-text {
    font-size: 17px;
    color: #E5E7EB;
    width: 750px;
    margin-bottom: 18px;
    margin-top: 20px;
    text-align: start;
}

.main-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%; /* Prevent overflow */
}

.main-image {
    height: 300px;
    width: 200px;
    object-fit: cover; /* Ensures images scale proportionally */
    border-radius: 10px;
    overflow: hidden;
}

.second {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding-top: 50px;
    padding-bottom: 80px;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    gap: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.project {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    align-items: center;
    background-color: #f0f0f0;
    gap: 20px;
    border-radius: 20px;
    padding: 25px;
    padding-top: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: scale(1.15); /* Zoom slightly */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project_title {
    font-size: 22px;
}

.tech-icons {
    margin: 10px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.project_description {
    text-align: left;
}

.project_description li {
    margin-bottom: 8px;
    line-height: 1.5;
}

.github-link {
    display: inline-block;
    margin: 10px 50px;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.github-link:hover {
    background-color: #555;
}

.video_caption {
    font-style: italic;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-left: 7vw;
    margin-right: 7vw;
}

.card {
    justify-items: center;
    width: 300px;
}

.card-image {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    border: 2px solid #3b3c3f;
    margin-bottom: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image .aws-image {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.card-image .linux-image {
    object-fit: contain;
    height: 100%;
    width: auto;
}

.caption {
    width: 300px;
    text-align: center;
    flex-grow: 1;
    margin-top: 20px;
}

.first-button {
    background: #6d7586;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    width: 180px;
    height: 50px;
}

.small-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third {
    background: #E5E7EB;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 80px;
    align-items: center;
}

.third .captions {
    gap: 60px;
}

.third .captions .caption {
    width: 200px;
}

.credit {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 18px;
    font-weight: 600;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
}

.fourth {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 80px;
    justify-content: center;
    
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.exclamation {
    font-size: 20px;
    font-weight: 600;
    color: #e5e7eb;
}

.message {
    max-width: 500px;
    font-size: 20px;
}

.second-button {
    background: #9eb7d8;
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    border-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer {
    background: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

@media (max-width: 768px) {
    .header h2 {
        font-size: 3.5vw;
    }

    .links h2 {
        font-size: 3.5vw;
    }

    .icon-image {
        width: 6vw;
    }

    .first {
        gap: 10px;
        padding-top: 15%;
        padding-bottom: 20%;
    }
    
    .main-text {
        font-size: 5vw; /* Scales with the viewport width */
        width: 90%;
        padding-left: 30px;
    }
    .secondary-text {
        font-size: 2.5vw;
        width: 90%;
        padding-left: 30px;
    }
    .main-images {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main-image {
        width: 25vw; /* Scales relative to the viewport width */
        height: 35vw; /* Maintains aspect ratio */
    }

    .second {
        padding-top: 5%;
    }

    .title {
        font-size: 5vw;
    }

    .projects {
        gap: 8vw;
        margin-top: 2%;
    }

    .project {
        width: 70vw;
    }

    .project:hover {
        transform: none;
        box-shadow: none;
    }

    .project_title {
        font-size: 3.2vw;
    }

    .tech-icons img {
        width: 7vw;
        height: 7vw;
    }

    .project_description {
        font-size: 2.3vw;
    }

    .project a {
        width: 30vw;
        height: 5vw;
        font-size: 3vw;
    }

    .outcome {
        font-size:2.3vw;
    }

    .video_caption {
        font-size:2.4vw;
    }

    .third {
        padding-top: 5%;
    }

    .cards {
        gap: 12vw;
    }

    .card {
        width: 60vw;
        margin: 0 auto;
    }

    .card-image {
        width: 20vw;
        height: 20vw;
    }

    .caption {
        font-size: 2.4vw;
        width: 50vw;
    }

    .fourth {
        padding-top: 8%;
        padding-bottom: 10%;
    }

    .container {
        padding-top: 0vw;
        padding-right: 10vw;
        padding-left: 10vw;
        gap: 5vw;
    }

    .container a {
        width: 30vw;
        height: 10vw;
        font-size: 3vw;
    }

    .message {
        font-size: 3vw;
    }



    .footer {
        font-size: 2vw;
    }

}